.queue-status-table {
  width: 100%;
  border-collapse: collapse;
}

.queue-status-table th, .queue-status-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.queue-status-table th {
  background-color: #f4f4f4;
}
